{% extends 'base.html.twig' %}
{% block page %} class="login" {% endblock %}
{% block class %} class="home" {% endblock %}
{% block title %}Log in!{% endblock %}

{% block body %}
    <section>
        {% if error %}
            <div class="alert alert-danger error">Mot de passe ou email Invalide</div>
        {% endif %}
        <h2 class="h3 mb-3 font-weight-normal">Se connecter</h2>
        <form method="post">
            <label for="inputEmail">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" placeholder="Email" required autofocus>
            <label for="inputPassword">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" placeholder="Mot de passe" required>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >
            <button class="btn btn-lg btn-primary" type="submit">
                Se connecter
            </button>
        </form>
        <form action="{{ path('home') }}" class="formReturn">
            <button class="return">Retour a l'acceuil</button>
        </form>
        <form action="{{ path('createUser') }}" class="formRegister">
            <button class="return">Pas de compte ?</button>
        </form>
    </section>
{% endblock %}
