@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
@keyframes appearFromTop {
  from {
    opacity: 0;
    transform: translateY(-75px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes appearOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
  scroll-behavior: smooth;
}

body {
  padding-top: 70px;
  overflow-x: hidden;
}
@media screen and (max-width: 850px) {
  body {
    padding-top: 0;
  }
}

body.home {
  padding-top: 0px;
  overflow-x: hidden;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
}

.button {
  height: 40px;
  width: 150px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  border: black 2px solid;
  transition: 0.5s;
  color: #FFFFFF;
}
.button:hover {
  transform: scale(1.1);
  background: pink;
}

.logoNav {
  display: none;
}
@media (max-width: 850px) {
  .logoNav {
    display: block;
    position: fixed;
    top: 15px;
    left: 15px;
    border-radius: 150px;
    width: 60px;
    height: 60px;
    z-index: 20000;
  }
}

nav {
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 500;
  overflow: hidden;
  height: 70px;
}
nav.admin {
  background: #000;
  color: #cecece;
}
nav.client {
  color: white;
  background: linear-gradient(180deg, #0000008c, transparent);
}
@media (max-width: 850px) {
  nav {
    height: 0px;
    overflow: unset;
  }
  nav.admin {
    background: rgba(0, 0, 0, 0);
  }
  nav.client {
    color: unset;
  }
}
nav label ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav label ul a {
  font-family: "Segoe UI", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  transition: 0.5s;
  letter-spacing: 2px;
}
nav label ul a:hover {
  color: #ee4eff;
  transform: scale(1.1);
}
nav label ul a .logoImg {
  border-radius: 150px;
  width: 60px;
  height: 60px;
  margin-top: 5px;
}
@media screen and (max-width: 850px) {
  nav label ul a .logoImg {
    width: 40px;
    height: 40px;
  }
}
nav label input {
  display: none;
}
@media (max-width: 850px) {
  nav label .menu {
    position: absolute;
    right: -100px;
    top: -100px;
    width: 200px;
    height: 200px;
    background: #FFF;
    border-radius: 50% 50% 50% 50%;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF;
    cursor: pointer;
  }
  nav label .hamburger {
    position: absolute;
    top: 135px;
    left: 50px;
    width: 30px;
    height: 2px;
    background: #69D2e7;
    display: block;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }
  nav label .hamburger:after, nav label .hamburger:before {
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: #69d2e7;
  }
  nav label .hamburger:before {
    top: -10px;
  }
  nav label .hamburger:after {
    bottom: -10px;
  }
  nav label input:checked + .menu {
    box-shadow: 0 0 0 100vw #FFF, 0 0 0 100vh #FFF;
    border-radius: 0;
  }
  nav label input:checked + .menu .hamburger:after {
    transform: rotate(90deg);
    bottom: 0;
  }
  nav label input:checked + .menu .hamburger:before {
    transform: rotate(90deg);
    top: 0;
  }
  nav label input:checked + .menu .hamburger {
    transform: rotate(-45deg);
  }
  nav label input:checked + .menu + ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    padding-top: 35px;
    width: 100vh;
  }
  nav label input:checked + .menu + ul li {
    padding-top: 70px;
    color: #ee4eff;
  }
  nav label ul {
    z-index: 200;
    transform: translate(-50%);
    display: none;
  }
  nav label ul li {
    transition: 1s 0s ease-in-out;
  }
  nav label ul .logo {
    display: none;
  }
}

.clientList {
  background: url("../img/backgroundClient.jpg") center/cover;
  display: flex;
  flex-direction: column;
  padding-top: 75px;
  min-height: 100vh;
}
.clientList .titleH1 {
  color: white;
  text-align: center;
  padding-bottom: 30px;
}
.clientList .clientContainer {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: space-evenly;
  background: rgba(0, 0, 0, 0.47);
  border-radius: 25px;
}
@media screen and (max-width: 850px) {
  .clientList .clientContainer {
    gap: 30px;
  }
}
.clientList .clientContainer .clientCard {
  background: rgba(108, 108, 108, 0.68);
  width: 250px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
  position: relative;
  padding: 5px 5px 40px;
  color: #FFFFFF;
  border-radius: 10px;
  text-align: center;
}
.clientList .clientContainer .clientCard .img {
  height: 90px;
}
.clientList .clientContainer .clientCard .img img {
  border-radius: 20px;
  height: 100%;
}
.clientList .clientContainer .clientCard .options {
  position: absolute;
  bottom: 10px;
}
.clientList .clientContainer .clientCard .options button {
  width: 70px;
  height: 25px;
}
.clientList .addClient {
  margin: 10px auto;
  width: 80%;
  height: 70px;
}
.clientList .addClient .button {
  color: #FFFFFF;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.formClient {
  background: url("../img/backgroundClient.jpg") center/cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.formClient h1 {
  width: 50%;
  padding: 10px 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.47);
  color: white;
}
.formClient .img {
  background: rgba(0, 0, 0, 0.47);
  padding-top: 10px;
  text-align: center;
  width: 50%;
  color: #FFFFFF;
}
.formClient .img img {
  height: 90px;
  border-radius: 20px;
  margin: auto;
}
.formClient form {
  background: rgba(0, 0, 0, 0.47);
  width: 50%;
  margin: 0 auto;
  color: white;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.formClient form div {
  display: flex;
  flex-direction: column;
  padding: 5px;
  width: 70%;
}
.formClient form div input {
  border-radius: 5px;
  height: 35px;
  text-align: center;
}

.calendar {
  padding-top: 95px;
  background: url("../img/backgroundClient.jpg") center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}
.calendar #calendrier {
  background: white;
  width: 80%;
  margin: 0 auto;
  border-radius: 5px;
  height: 80%;
}
@media screen and (max-width: 850px) {
  .calendar #calendrier {
    height: 100%;
  }
  .calendar #calendrier .fc-toolbar-title {
    font-size: 1.5rem;
  }
  .calendar #calendrier .fc .fc-button .fc-icon {
    font-size: unset;
  }
  .calendar #calendrier.fc .fc-scroller::-webkit-scrollbar {
    display: none;
    width: 0px;
  }
}
.calendar .links {
  background: rgba(0, 0, 0, 0.5);
  margin: 10px auto;
  width: 60%;
  height: 70px;
  border: black 2px solid;
  border-radius: 5px;
  transition: 0.5s;
}
.calendar .links button {
  width: 100%;
  height: 100%;
  background: rgba(224, 224, 224, 0);
  border: rgba(224, 224, 224, 0);
  color: #FFFFFF;
  cursor: pointer;
}
.calendar .links:hover {
  transform: scale(1.1);
  background: pink;
}
.calendar .links a {
  color: #FFFFFF;
}

.formTask {
  background: url("../img/backgroundClient.jpg") center/cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.formTask h1 {
  width: 50%;
  padding: 10px 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.47);
  color: white;
}
.formTask form {
  background: rgba(0, 0, 0, 0.47);
  width: 50%;
  margin: 0 auto;
  color: white;
  padding: 20px;
}
.formTask form div {
  display: grid;
  grid-auto-columns: 1fr;
  padding: 5px;
}
.formTask form div input {
  border-radius: 5px;
  text-align: center;
}

.homeHeader {
  height: 100vh;
  background: url("../img/homeHeaderBg.jpg") center/cover;
}
.homeHeader h1 {
  font-family: Courgette;
  height: 100%;
  width: 100%;
  text-shadow: 0 0 20px black;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5.5vw;
  animation: 1.5s appearFromTop;
}
@media screen and (max-width: 650px) {
  .homeHeader h1 {
    font-size: 7.5vw;
  }
}
.homeHeader ul {
  width: 100%;
  align-content: center;
}

.homeH2 {
  text-align: center;
  margin: 100px 0 50px 0;
}

#activities {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#activities .homeDoing {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  gap: 30px 0;
}
@media screen and (max-width: 850px) {
  #activities .homeDoing {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    gap: 30px 0;
  }
}
@media screen and (max-width: 650px) {
  #activities .homeDoing {
    width: 100%;
  }
}
@media screen and (max-width: 450px) {
  #activities .homeDoing {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}
#activities .homeDoing div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 170px;
}
#activities .homeDoing div .img {
  width: 170px;
  height: 170px;
  background: #fbe4ff;
  border-radius: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 4px #f9d4ff;
}
@media screen and (max-width: 650px) {
  #activities .homeDoing div .img {
    width: 120px;
    height: 120px;
  }
}
#activities .homeDoing div .img img {
  width: 50%;
}
#activities #map {
  height: 100vh;
  width: 80%;
}
@media screen and (max-width: 850px) {
  #activities #map {
    height: 70vh;
    width: 90%;
  }
}

#contact {
  padding: 0 5px;
  corlor: white;
}
#contact .contactContainer .networks {
  margin-bottom: 20px;
  height: 50px;
  display: grid;
  grid-template-columns: 50% 50%;
  justify-items: center;
}
#contact .contactContainer .networks div {
  width: 40px;
  height: 40px;
  border-radius: 150px;
  transition: 0.5s;
  top: 0px;
  overflow: hidden;
}
#contact .contactContainer .networks div:hover {
  width: 240px;
}
#contact .contactContainer .networks div:hover span {
  opacity: 0;
  animation: 1s linear 0.5s appearOpacity forwards;
  display: unset;
}
@media (max-width: 850px) {
  #contact .contactContainer .networks div:hover span {
    opacity: 1;
    animation: unset;
  }
}
@media (max-width: 850px) {
  #contact .contactContainer .networks div {
    width: 240px;
  }
}
#contact .contactContainer .networks div a {
  display: flex;
  align-items: center;
  height: 40px;
}
#contact .contactContainer .networks div a img {
  height: 40px;
}
#contact .contactContainer .networks div a span {
  font-family: Courgette, sans-serif;
  display: none;
  color: #FFFFFF;
  transition: 0.5s;
  margin-left: 30px;
}
@media (max-width: 850px) {
  #contact .contactContainer .networks div a span {
    opacity: 1;
    display: unset;
  }
}
#contact .contactContainer .networks .facebook {
  background: linear-gradient(100deg, #021b71 0%, #389dfe 100%);
}
#contact .contactContainer .networks .instagram {
  background: linear-gradient(100deg, #833ab4 0%, #fd1d1d 74%, #fcb045 100%);
}
@media (max-width: 850px) {
  #contact .contactContainer .networks {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100px;
  }
}
#contact .contact {
  display: flex;
  justify-content: flex-start;
  position: relative;
  height: 50px;
}
#contact .contact div {
  display: flex;
  align-items: center;
  position: absolute;
}
#contact .contact div img {
  width: 40px;
}
#contact .contact div span {
  font-family: Courgette, sans-serif;
  padding-left: 35px;
}
#contact .contact .mail {
  left: 30%;
  width: 30%;
  transform: translateX(-20%);
}
@media (max-width: 850px) {
  #contact .contact .mail {
    position: unset;
    transform: unset;
    width: unset;
  }
}
#contact .contact .phone {
  left: 75%;
  width: 25%;
  transform: translateX(-40%);
}
@media (max-width: 850px) {
  #contact .contact .phone {
    position: unset;
    transform: unset;
    width: unset;
  }
}
@media (max-width: 850px) {
  #contact .contact {
    flex-direction: column;
    align-items: center;
    height: 100px;
    gap: 15px;
  }
}

.enregistrement {
  background: url("../img/homeHeaderBg.jpg") center/cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.enregistrement section {
  background: rgba(0, 0, 0, 0.48);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 700px;
  border-radius: 20px;
  height: 500px;
  position: relative;
}
.enregistrement section h2 {
  color: #FFFFFF;
  position: absolute;
  top: 60px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.enregistrement section form {
  color: #FFFFFF;
  width: 500px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}
.enregistrement section form ul {
  color: red;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  width: 145px;
  border: 2px solid red;
  border-radius: 5px;
}
.enregistrement section form label {
  display: none;
}
.enregistrement section form input {
  border-radius: 5px;
  border: none;
  height: 30px;
  margin: 5px 0;
  padding: 0 25px;
}
.enregistrement section form input::placeholder {
  width: 100%;
}
.enregistrement section form div {
  display: flex;
  justify-content: center;
  margin: 25px 0 0 0;
}
@media (max-width: 500px) {
  .enregistrement section form {
    width: 100%;
  }
}
.enregistrement section .actions {
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 30px;
  width: 100%;
}
.enregistrement section .actions .formReturn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.enregistrement section .actions .formLogin {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 500px) {
  .enregistrement section .actions {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.enregistrement .error {
  color: red;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
}

.login {
  background: url("../img/homeHeaderBg.jpg") center/cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login section {
  background: rgba(0, 0, 0, 0.48);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 700px;
  border-radius: 20px;
  height: 500px;
  position: relative;
}
.login section h2 {
  color: #FFFFFF;
  position: absolute;
  top: 60px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.login section form {
  color: #FFFFFF;
  width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.login section form label {
  display: none;
}
.login section form input {
  border-radius: 5px;
  border: none;
  height: 30px;
  margin: 5px 0;
  padding: 0 25px;
}
.login section form input::placeholder {
  width: 100%;
}
.login section form button {
  height: 40px;
  width: 150px;
  margin: 10px auto 0;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  border: black 2px solid;
  transition: 0.5s;
  color: #FFFFFF;
}
.login section form button:hover {
  transform: scale(1.1);
  background: pink;
}
@media (max-width: 500px) {
  .login section form {
    width: 100%;
  }
}
.login section .action {
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 30px;
  width: 100%;
}
.login section .action .formReturn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.login section .action .formRegister {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 500px) {
  .login section .action {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.login .error {
  color: red;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
}

footer {
  background: #eeeeee;
}
footer .footerContainer .footerTitle {
  text-align: center;
  padding-top: 20px;
}
footer .footerContainer .footerTitle h3 {
  font-family: Courgette, sans-serif;
}
footer .footerContainer .footerNav {
  width: 100%;
  padding: 20px;
}
footer .footerContainer .footerNav ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 250px;
  justify-items: center;
  position: relative;
  margin: auto;
}
footer .footerContainer .footerNav ul li a {
  transition: 0.5s;
}
footer .footerContainer .footerNav ul li a:hover {
  color: #ee4eff;
}
footer .footerContainer .footerNav ul:before {
  content: "";
  position: absolute;
  height: 50px;
  width: 2px;
  background: black;
}
footer .footerContainer .footerContact {
  display: flex;
  justify-content: center;
  width: 500px;
  padding: 10px;
  margin: auto;
}
footer .footerContainer .footerContact div {
  width: 30px;
  height: 30px;
  margin: auto;
}
footer .footerContainer .footerContact div img {
  width: 30px;
  height: 30px;
  border-radius: 180px;
}
footer .footerContainer .footerContact .phone {
  width: 150px;
  display: flex;
  align-items: center;
}
footer .footerContainer .footerContact .phone span {
  font-size: 0.75rem;
  font-family: Courgette, sans-serif;
}
footer .footerContainer .footerContact .mail {
  width: 150px;
  display: flex;
  align-items: center;
}
footer .footerContainer .footerContact .mail span {
  font-size: 0.75rem;
  font-family: Courgette, sans-serif;
}
@media (max-width: 850px) {
  footer .footerContainer .footerContact {
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}
footer .footerContainer .copyright {
  font-size: 0.75rem;
}

/*# sourceMappingURL=style.css.map */
