<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Calendrier{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.css" integrity="sha256-5veQuRbWaECuYxwap/IOE/DAwNxgm4ikX7nrgsqYp88=" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('assets/style/style.css') }}">
    <link rel="icon" href="{{ asset('assets/img/logo.jpg')}}">
</head>
<body>
{% include 'commons/_nav.html.twig' %}
<main>
    {% block body %}
        <div id="calendarPopup">
            <div id="calendarContainer">
                <span id="messageInfo"></span>
                <div class="action">
                    <button class="deleteButton button" id="deleteTask">Supprimer</button>
                    <button class="cancelButton button" id="cancel">Retour</button>
                </div>
            </div>
        </div>

        <div class="calendar">
            <form class="links" action="{{ path('addTask') }}">
                <button>Ajouter une tâche</button>
            </form>
            <div id="calendrier">
            </div>
        </div>
    {% endblock %}
</main>
{% include 'commons/_footer.html.twig' %}
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.js" integrity="sha256-YicH/8aE660iEnJtgll3vT54dJApy3XkYmqNfGVFEzA=" crossorigin="anonymous"></script>
<script defer>
    window.onload= ()=>{
        var eventId = 0
        var deleteTask = document.querySelector('#deleteTask')
        var updateTask = document.querySelector('#updateTask')
        var messageInfo = document.getElementById('messageInfo')
        var messageClose = document.getElementById('cancel')

        function action(url, data){
            fetch(url, {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(data)
            }).then((res) =>  {
                let event = calendar.getEventById(eventId)
                event.remove()
            }).then(()=>{
                messageInfo.innerHTML = ""
                eventId = 0
                calendarPopup.style.display = 'none'
            })
        }

        let days
        if(innerWidth > 850){
            days = 5
        }else{
            days = 1
        }
        let buttonOption
        if(innerWidth > 850){
            buttonOption = 'timeGridDay,timeGridFourDay,dayGridMonth'
        }else{ buttonOption = ''}

        let calendarElt = document.querySelector('#calendrier')
        let calendar  = new FullCalendar.Calendar(calendarElt, {
            initialView: 'timeGrid',
            duration:{days: days},
            locale:'fr',
            timeZone: 'Europe/Paris',
            headerToolbar:{
                start:'prev,next',
                center:'title',
                end : buttonOption
            },
            views: {
                timeGridFourDay: {
                    type: 'timeGrid',
                    duration: { days: 5 },
                    buttonText: '5 Jours'
                }
            },
            events: {{ data|raw }},
            editable: true,
        })
        calendar.on('eventChange', (e)=>{
            let url = `autoUpdate/${e.event.id}`
            let data = {
                'start': e.event.start,
                'end': e.event.end,
                'allDay': e.event.allDay
            }
            fetch(url, {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(data)

            })
        })

        calendar.on('eventClick', (e)=>{
            messageInfo.append(`Infos de la tache: ${e.event.title}`)
            calendarPopup.style.display = 'block'
            eventId = e.event.id
        })

        deleteTask.addEventListener('click', () =>{
            let url = `delete/${eventId}`
            let data = {
                'delete':'true'
            }
            action(url, data)

        })

        messageClose.addEventListener('click', () => {
                    calendarPopup.style.display = 'none'
                    messageInfo.innerHTML = ""
                    eventId = 0
                }
        )

        calendar.render();
    }
</script>
</body>
</html>