{% extends 'base.html.twig' %}
{% block body %}
    <section>
        <div class="formClient">

            <h1>Ajouté un client</h1>
            {{ form(clientForm) }}
        </div>
    </section>
{% endblock %}
