.clientList{
  background: url('../img/backgroundClient.jpg') center/cover;
  display: flex;
  flex-direction: column;
  padding-top: 75px;
  min-height: 100vh;
  .titleH1{
    color: white;
    text-align: center;
    padding-bottom: 30px;
  }
  .clientContainer{
    span{
      color: white;
      padding-top: 20px;
      display: block;
    }
    width: 80%;
    max-width: 990px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: space-evenly ;
    background: rgba(0, 0, 0, 0.47);
    border-radius: 25px;
    @media screen and (max-width: 850px) {
      gap: 30px;
    }
    .clientCard{
      background: rgba(108, 108, 108, 0.68);
      width: 250px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      margin: 10px 0;
      position: relative;
      padding:5px 5px 40px ;
      color: #FFFFFF;
      border-radius: 10px;
      text-align: center;
      .img{
        height: 90px;
        img{
          border-radius: 20px;
          height: 100%;
        }
      }
      .options {
        position: absolute;
        bottom: 10px;
  
        button {
          width: 70px;
          height: 25px;
        }
      }
    }
  }
  .addClient{
    margin: 10px auto;
    width: 80%;
    height: 70px;
    .button{
      color: #FFFFFF;
      width: 100%;
      height: 100%;
      cursor: pointer;
    }
    
  }
}
.clientPopup{
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 200;
  display: none;
  background: rgba(0, 0, 0, 0.5);
  .clientPopup{
    @include center;
    flex-direction: column;
    background: #FFFFFF;
    width: 500px;
    height: 250px;
    position: fixed;
    top: 50%;
    left: 50%;
    border-radius: 20px;
    transform: translate(-50%,-50%);
    .actions{
      width: 80%;
      display:flex;
      justify-content: space-evenly;
      padding-top: 80px;
      padding-bottom: 20px;
    }
    span{
      color: black;
      text-align: center;
    }
    @media (max-width: 550px){
      width: 91%;
      height: unset;
      padding: 10px;
      .actions{
        flex-wrap: wrap;
        gap: 20px;
        width: 100%;
      }
    }
  }
}
.formClient{
  background: url('../img/backgroundClient.jpg') center/cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1{
    width: 50%;
    padding: 10px 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.47);
    color: white;
    @media (max-width: 900px) {
      width: 80%;
    }
    @media (max-width: 450px) {
      width: 95%;
    }
  }
  .img{
    background: rgba(0, 0, 0, 0.47);
    padding-top: 10px;
    text-align: center;
    width: 50%;
    color: #FFFFFF;
    img{
    height: 90px;
    border-radius: 20px;
      margin: auto;
    }
  }
  form{
    background: rgba(0, 0, 0, 0.47);
    width: 50%;
    margin: 0 auto ;
    color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    @media (max-width: 900px) {
      width: 80%;
    }
    @media (max-width: 450px) {
      width: 95%;
      padding: 20px 0;
    }
    div{
      display: flex;
      flex-direction: column;
      padding: 5px;
      width: 70%;
      @media (max-width: 900px) {
        width: 80%;
      }
      @media (max-width: 450px) {
        width: 95%;
      }
      input{
        border-radius: 5px;
        height: 35px;
        text-align: center;
      }
    }
    ul{
      display: none;
    }
    @media (max-width: 900px) {
      width: 80%;
    }
    @media (max-width: 450px) {
      width: 95%;
    }
  }
  .error{
    width: 50%;
    padding: 10px 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.47);
    color: red;
    @media (max-width: 900px) {
      width: 80%;
    }
    @media (max-width: 450px) {
      width: 95%;
    }
  }
}
