.login{
	background: url('../img/homeHeaderBg.jpg') center/cover;
	height: 100vh;
	@include center;
	section{
		background: rgba(0, 0, 0, 0.48);
		@include center;
		flex-direction: column;
		width: 700px;
		border-radius: 20px;
		height: 500px;
		position: relative;
		h2{
			color: #FFFFFF;
			position: absolute;
			top: 60px;
			text-transform: uppercase;
			letter-spacing: 2px;
		}
		form{
			color: #FFFFFF;
			width: 500px;
			margin: 0 auto;
			display: flex;
			flex-direction: column;
			label{
				display: none;
			}
			input{
				border-radius: 5px;
				border: none;
				height: 30px;
				margin: 5px 0 ;
				padding: 0 25px;
				&::placeholder{
					width: 100%;
				}
			}
			button{
				height: 40px;
				width: 150px;
				margin: 10px auto 0;
				background: rgba(0, 0, 0, 0.6);
				border-radius: 20px;
				border: rgb(0, 0, 0) 2px solid;
				transition: 0.5s;
				color: #FFFFFF ;
				&:hover{
					transform: scale(1.1);
					background: pink;
				}
			}
		}
		.formReturn{
			display: flex;
			align-items: center;
			justify-content: center;
			.return{
				bottom: 30px;
				left: 10%;
				height: 40px;
				width: 150px;
				position: absolute;
				background: rgba(0, 0, 0, 0.6);
				border-radius: 20px;
				border: rgb(0, 0, 0) 2px solid;
				transition: 0.5s;
				color: #FFFFFF ;
				&:hover{
					transform: scale(1.1);
					background: pink;
				}
			}
		}
		.formRegister{
			display: flex;
			align-items: center;
			justify-content: center;
			.return{
				bottom: 30px;
				left: 65%;
				height: 40px;
				width: 150px;
				position: absolute;
				background: rgba(0, 0, 0, 0.6);
				border-radius: 20px;
				border: rgb(0, 0, 0) 2px solid;
				transition: 0.5s;
				color: #FFFFFF ;
				&:hover{
					transform: scale(1.1);
					background: pink;
				}
			}
		}
	}
	.error{
		color: red;
		position: absolute;
		top: 20%;
		left: 50%;transform: translateX(-50%);
	}
}