.logoNav{
  display: none;
  @media (max-width: 850px) {
    display: block;
    position: fixed;
    top: 15px;
    left: 15px;
    border-radius: 150px;
    width: 60px;
    height: 60px;
    z-index: 20000;
  }
}
nav{
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 500;
  overflow: hidden;
  height: 70px;

  &.admin{
  background: #000;
  color: #cecece;
  }
  &.client{
    color: white;
    background: linear-gradient(180deg, #0000008c, transparent);
  }
  @media (max-width: 850px) {
    height: 0px;
    overflow: unset;
    &.admin{
      background: rgba(0, 0, 0, 0);
    }
    &.client {
      color: unset;
    }
  }
  label ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    a{
      font-family: "Segoe UI", sans-serif;
      text-transform: uppercase;
      font-weight: 700;
      transition: 0.5s;
      letter-spacing: 2px;
      &:hover{
        color: #ee4eff;
        transform: scale(1.1);
      }
      .logoImg{
        border-radius: 150px;
        width: 60px;
        height: 60px;
        margin-top: 5px;
        @media screen and (max-width: 850px) {
          width: 40px;
          height: 40px;
        }
      }
    }
  }
  label input { display: none; }
  @media (max-width: 850px) {
      label .menu {
      position: absolute;
      right: -100px;
      top: -100px;
      width: 200px;
      height: 200px;
      background: #FFF;
      border-radius: 50% 50% 50% 50%;
      -webkit-transition: .5s ease-in-out;
      transition: .5s ease-in-out;
      box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF;
      cursor: pointer;
    }

    label .hamburger {
      position: absolute;
      top: 135px;
      left: 50px;
      width: 30px;
      height: 2px;
      background: #69D2e7;
      display: block;
      -webkit-transform-origin: center;
      transform-origin: center;
      -webkit-transition: .5s ease-in-out;
      transition: .5s ease-in-out;
    }
    label .hamburger:after, label .hamburger:before {
      -webkit-transition: .5s ease-in-out;
      transition: .5s ease-in-out;
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      background: #69d2e7;
    }
    label .hamburger:before { top: -10px; }
    label .hamburger:after { bottom: -10px; }
    label input:checked + .menu {
      box-shadow: 0 0 0 100vw #FFF, 0 0 0 100vh #FFF;
      border-radius: 0;
    }
    label input:checked + .menu .hamburger:after {
      transform: rotate(90deg);
      bottom: 0;
    }
    label input:checked + .menu .hamburger:before {
      transform: rotate(90deg);
      top: 0;
    }
    label input:checked + .menu .hamburger {
      transform: rotate(-45deg);
    }
    label input:checked + .menu + ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: absolute;
      left: 50%;
      padding-top: 35px;
      width: 100vh;
      li{
        padding-top: 70px;
        color: #ee4eff;
      }
    }
    label ul {
    z-index: 200;
    transform: translate(-50%);
    display: none;
    li{
        transition: 1s 0s ease-in-out;
    }
    .logo{
        display: none;
    }
    }
  }
}
