.enregistrement{
	background: url('../img/homeHeaderBg.jpg') center/cover;
	height: 100vh;
	@include center;
	section{
		background: rgba(0, 0, 0, 0.48);
		@include center;
		flex-direction: column;
		width: 700px;
		border-radius: 20px;
		height: 500px;
		position: relative;
		h2{
			color: #FFFFFF;
			position: absolute;
			top: 60px;
			text-transform: uppercase;
			letter-spacing: 2px;
		}
		form{
			color: #FFFFFF;
			width: 500px;
			margin: 0 auto;
			display: grid;
			grid-template-rows: 1fr 1fr 1fr;
			ul{
				color: red;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: 10px;
				width: 145px;
				border: 2px solid red;
				border-radius: 5px;
			}
			label{
				display: none;
			}
			input{
				border-radius: 5px;
				border: none;
				height: 30px;
				margin: 5px 0 ;
				padding: 0 25px;
				&::placeholder{
					width: 100%;
				}
			}
			div{
				display: flex;
				justify-content: center;
				margin: 25px 0 0 0;
			}
			.button{
				height: 40px;
				width: 150px;
				margin: 10px auto 0;
				background: rgba(0, 0, 0, 0.6);
				border-radius: 20px;
				border: rgb(0, 0, 0) 2px solid;
				transition: 0.5s;
				color: #FFFFFF ;
				&:hover{
					transform: scale(1.1);
					background: pink;
				}
			}
			@media (max-width: 500px) {
				width: 90%;
			}
		}
		.actions{
			display: flex;
			justify-content: space-around;
			position: absolute;
			bottom: 30px;
			width: 100%;
			.formReturn{
				display: flex;
				align-items: center;
				justify-content: center;
			}
			.formLogin{
				display: flex;
				align-items: center;
				justify-content: center;
			}
			@media (max-width: 500px) {
				flex-direction: column;
				align-items: center;
				justify-content: center;
			}
		}
	}
	.error{
		color: #ffffff;
		text-shadow: 0 0 0 black;
		position: absolute;
		top: 20%;
		left: 50%;transform: translateX(-50%);
	}
}